body {
    background-image: linear-gradient(to right top, #051937, #001743, #00144d, #000f57, #05055e);
    background-repeat: repeat-y;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    /* position: relative; */
    overflow-x: hidden;
}


/* === header === */

header {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* === main === */

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    color: white;
}

main section .form-control, label {
    border: 2px solid #ced4da;
}



main section input:focus {
    box-shadow: none !important;
}

.wrong {
    border: 2px solid red !important;
}

@media (max-width: 760px) {
    .scrolling-wrapper-flexbox {
        overflow-x: auto;
        height: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrolling-wrapper-flexbox::-webkit-scrollbar {
        display: none;
    }
}


.card {
    height: 100%;
    width: 240px;
    background-color: initial !important;
    border: none !important;
}

.card-img-top {
    width: 100%;
    height: 350px;
}

@media (max-width: 760px) {
    .card {
        height: 100%;
        width: 200px;
    }

    .card-img-top { 
        width: 100%;
        height: 300px;
    }
}

.card-body {
    color: #fff;
}

/* === footer === */

footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}


footer a {
    text-decoration: none;
    color: white;
}

/* === Media Queries === */

@media (min-width: 1080px ) {
    body {
        height: 100vh;
    }
}