body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}


/* === header === */

header {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* === main === */

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

main section {
    height: auto;
    width: auto;
}

main section .description {
    text-align: justify;
}

.wrong {
    box-shadow: 0 0 0 0.25rem rgb(253 110 13 / 100%);
}

/* === footer === */

footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


footer a {
    text-decoration: none;
    color: white;
}

/* === Media Queries === */

@media (min-width: 1080px ) {
    body {
        height: 100vh;
    }
}