html {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
}


/* === Header === */


header {
    height: 5rem;
    background-color: black;
    color: white;
}



/* === Main === */



/* Section del main */




.card img {
    margin: 10px auto;
    max-width: 50%;
}