html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

/* === Header === */

header {
    height: auto;
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 5;
}

header img {
    height: 40px;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
    -ms-user-select: none;
   user-select: none;
}


/* === Main === */

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    margin: 10px auto;
    max-width: 50%;
}

.text-center {
    text-align: center;
}

.delete-item {
    display: flex;
    justify-self: flex-end;
}

.unclickeable {
    pointer-events: none;
}

/* === Modal === */

/* Los "pochoclos" al tener un texto largo causan problemas si hay padding a los lados */

@media (max-width: 330px) {
    .table>:not(caption)>*>* {
        padding: .5rem .1rem !important;
    }
}

/* === Footer === */

footer {
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
}


footer a {
    text-decoration: none;
    color: white;
}

/* === Media Queries === */

@media (min-width: 768px ) {
    body {
        height: 100vh;
    }
}


@media (min-width: 1080px ) {
    main {
        height: 75%;
        display: flex;
        align-items: center;
    }

    main section {
        width: 100%;
        height: auto;
    }

    #food-container {
        display: flex;
        justify-content: center;
    }
}