body {
    background-image: linear-gradient(to right top, #051937, #001743, #00144d, #000f57, #05055e);
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* === header === */

header {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header img {
    height: 40px;
}

/* === main === */

main {
    margin: 0 auto !important;
    padding: 0 !important;   
}

.card {
    width: 18rem;
}

.card-title {
    font-size: 1.5rem;
    text-align: center;
}


.list-group-item {
    border: 1px solid rgba(0,0,0,.125) !important;
    padding: 11px 15px;
}

.card .height {
    height: 2rem;
}

/* === footer === */

footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}


footer a {
    text-decoration: none;
    color: white;
}

/* === Media Queries === */

@media (min-width: 768px) {
    body {
        height: 100vh;
    }
    
    .card {
        width: 35rem;
        height: 27rem;
        border: 0px !important;
        border-radius: 0.5rem !important;
    }

    .img-container {
        height: 100%;
    }

    .img-container img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 0.40rem;
        border-bottom-left-radius: 0.40rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .details-container {
        width: 50%;
    }

    .list {
        height: 6rem;
        overflow-y: scroll;
        overflow-x: hidden;
    }


    ::-webkit-scrollbar {
        width: 1em;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}