body {
    background-image: linear-gradient(to right top, #051937, #001743, #00144d, #000f57, #05055e);
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* === Header === */

header {
    background-color: black;
    color: white;
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* === Main === */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    width: 100%;
    height: auto;
}

main section {
    color: white;
    height: auto;
    width: auto;
    overflow: hidden;
}


@media (max-width: 760px) {
    .scrolling-wrapper-flexbox {
        overflow-x: auto;
        height: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrolling-wrapper-flexbox::-webkit-scrollbar {
        display: none;
    }
}


#film-container {
    flex-basis: auto !important;
}


.card {
    height: 100%;
    width: 240px;
    background-color: initial !important;
    border: none !important;
}

.card-img-top {
    width: 100%;
    height: 350px;
}

@media (max-width: 760px) {
    .card {
        height: 100%;
        width: 200px;
    }

    .card-img-top {
        width: 100%;
        height: 300px;
    }
}

.card-body {
    color: #fff;
}

/* === Footer === */

footer {
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
}

footer a {
    text-decoration: none;
    color: white;
}

/* === Utilidades === */

/* = animacion de carga = */

.esqueleto {
    animation: esqueleto 1s linear infinite alternate;
}

@keyframes esqueleto {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

