/* Parte copiada del otro archivo */

/* payment section */

/* .payment-card {
    width: 50%;
    height: 50%;
} */

/* .payment-card img {
    width: 20rem;
}

.etiqueta-nombre {
    font-size: .8rem;
}

.input-dato {
    border: none;
    border-bottom: 2px solid #878786;
}

.input-dato:focus-visible {
    outline: none;
    border-bottom: 2px solid #f5cf3c;
}


.tarjeta {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
}

#card-1 {
    background-image: url('../resources/svg/visa-color.svg');
}

#card-2 {
    background-image: url('../resources/svg/mastercard-color.svg');
}

#card-3 {
    background-image: url('../resources/svg/card-color.svg');
}

.margen {
    margin-left: 25px !important;
} */

/* Fin de copiado */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    height: auto;
    width: 100vw;
}

/* === Header === */

header {
    background-color: black;
    color: white;
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


/* === Main === */

main {
    height: 100%;
    width: 100%;
}

.card {
    background-color: #fff;
}

.container {
    width: 100%;
    height: auto;
}

/* Forma inputs */

.input-dato {
    border: none;
    border-bottom: 2px solid #878786;
}

.input-dato:focus-visible {
    outline: none;
    border-bottom: 2px solid #f5cf3c;
}

.tarjeta {
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

/* SVG de tarjetas */

#card-1 {
    background-image: url('../resources/svg/visa-color.svg');
}

#card-2 {
    background-image: url('../resources/svg/mastercard-color.svg');
}

#card-3 {
    background-image: url('../resources/svg/card-color.svg');
}

/* === Footer === */

footer {
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
}

footer a {
    text-decoration: none;
    color: white;
}