* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
}

@media (min-width: 1020px) {
    body {
        overflow: hidden;
    }
}

/* === Header === */

header {
    background-color: black;
    color: white;
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


/* === Main === */

main {
    height: 100%;
    width: 100%;
}

.card {
    background-color: #fff;
    max-width: 650px;
}

.container {
    width: 100%;
    height: auto;
}

/* Form inputs */

input {
    border: none;

}

.input-dato {
    border-bottom: 2px solid #878786;
}

.input-dato:focus-visible {
    outline: none;
    border-bottom: 2px solid #f5cf3c;
}

.wrong {
    border: none;
    border-bottom: 2px solid #878786;
}

/* Tamaño y SVG de tarjetas */

.tarjeta {
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}


#card-1 {
    background-image: url('../resources/svg/visa-color.svg');
}

#card-2 {
    background-image: url('../resources/svg/mastercard-logo.svg');
}

#card-3 {
    background-image: url('../resources/svg/credit-card-new.svg');
}

/* === Footer === */

footer {
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
}

footer a {
    text-decoration: none;
    color: white;
}